{% extends 'layout' %}

{% block content %}

{% set bar = 'bar' %}
{% with { foo: 42 } only %}
{{foo}}    {# only foo is defined #}
{{bar}}    {# bar is not defined #}
{% endwith %}

{% from 'forms' import input as input_field, textarea as ta %}

<dl> 
    <dt>Username</dt>
    <dd>{{ input_field('username') }}</dd>
    <dt>Password</dt>
    <dd>{{ input_field('password', '', 'password') }}</dd>
</dl>
<p>{{ ta('comment') }}</p>

    {%- for entry in posts -%}
        <h2>{{ entry }}</h2>
        <p>{{ entry.body }}</p>
    {% endfor %}
{% endblock %}
