{% extends 'layout' %}

{% block content %}

{% import 'forms' as forms %}

{% set name = "sotiris" %}

{% if func1 is defined %}
{{ func(1, 2) }}
{% endif %}
{% endset %}

<p>{{ forms.input('username') }}</p>
<p>{{ forms.input('password', null, 'password') }}</p>
    {%- for entry in posts -%}
        <h2>{{ entry }}</h2>
        <p>{{ entry.body }}</p>
    {% endfor %}
{% endblock %}
