{% extends 'layout' %}

{% block content %}

{% verbatim %}

hello {{name}}

{% endverbatim %}
{% from 'forms' import input as input_field, textarea as ta %}

<dl> 
    <dt>Username</dt>
    <dd>{{ input_field('username') }}</dd>
    <dt>Password</dt>
    <dd>{{ input_field('password', '', 'password') }}</dd>
</dl>
<p>{{ ta('comment') }}</p>

    {%- for key,entry in posts -%}
	{{key}}
        <h2>{{ entry }}</h2>
        <p>{{ entry.body }}</p>
    {% endfor %}
{% endblock %}
