{% extends 'layout' %}

{% block extra_headers %}
<style>
	table { table-layout:fixed; }
	th.col-title { width: 70%; }
	th.col-mountain { width: 20%; }
	th.col-action-buttons { width: 100px; }
}
</style>
{% endblock %}

{% block contents %}
<div id="routes-list-view">

{% with { id: "create-form", title: "Create New Route" } %}
{% extends 'modal' %}
{% block body %}
{% import 'bs3-forms' as forms %}
{{ forms.start() }}
{{ forms.input('title', type='text', label='Title', required = true) }}
{{ forms.select('mountain', mountains, label='Mountains', required = true) }}
{{ forms.upload('gpx-file', label='GPX File', required = true) }}
{{ forms.button('Submit') }}
{{ forms.end() }}
{% endblock %}
{% endextends %}
{% endwith %}
      
{% with { id: "edit-form", title: "Update Route" } %}
{% extends 'modal' %}
{% block body %}
{% import 'bs3-forms' as forms %}
{{ forms.start() }}
{{ forms.input('title', type='text', label='Title', required = true) }}
{{ forms.select('mountain', mountains, label='Mountains', required = true) }}
{{ forms.button('Submit') }}
{{ forms.end() }}
{% endblock %}
{% endextends %}
{% endwith %}

</div>
{% endblock %}

{% block extra_footers %}
		<script src="js/tableview.js"></script>
        <script type="text/javascript">
  			$(document).ready(function() {
  			
  				$('#routes-list-view').tableview({ 
  					listUrl:"routes/list/",  
  					addUrl: "routes/add/",
  					updateUrl: "routes/update/",
  					deleteUrl: "routes/delete/"
  				}) ;
			});
		</script>
{% endblock %}

